<%- include("./partials/header"); -%>
<style> 
    .vertical-center {
      margin-top: 100px;
      margin-left: 100px;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;
    }
    </style>
<header class="jumbotron text-light rounded-0 d-none d-md-block">
    <div class="container">
        <div class="jumbotron-text mt-5 text-center">
            <h1 class="display-3 jumbotronText"><i class="fas fa-bus-alt mr-2"></i>Buses from <%= source %> to
                <%= destination %></h1>
        </div>
    </div>
</header>
<% if(results.length>0) {%>
<div class="container">
    <div class="row mb-5">
        <% results.forEach(function(bus) { %>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card indexCards shadow border-0 mt-4">
                <img id="campgroundCard" class="card-img-top"
                    src="https://5.imimg.com/data5/RP/EX/GLADMIN-62060092/volvo-bus-500x500.png">
                <div class="card-body text-center">
                    <h5 class="card-title text-capitalize">
                        <h2>Bus Number: <%=bus.bid%></h2>
                    </h5>
                    <h6 class="card-subtitle">
                        <p><%=bus.name%></p>
                        <p><%=bus.dept_time%> : <%=bus.arr_time%></p>
                    </h6>
                    <form action="bus/<%=bus.bid%>" method="GET">
                        <button class="btn btn-xs btn-success">More Info</button>
                    </form>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<% }%>
<%if(results.length==0) {%>
    
        <div class="vertical-center">
            <h1>Sorry Buses are not Available for this Route ,Please Go Back to see Available Routes</h1>
            <br>
            <a class="btn btn-primary" href="/" role="button">Go Back</a>
        </div>
      
<%}%>


<%- include("./partials/footer"); -%>