<%- include("./partials/header"); -%> 
 
    
<div class="container">
	<div class="jumbotron">
		<h1> <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> The Image Gallery</h1>
		<p>A Bunch Of Beautiful Pictures Captured By Me</p>
	</div>
        <% for(let b of results){%>  
            <div class="row justify-content-around">
                <div class="col-8 border text-center border-primary bg-dark text-white m-3 p-2">
                    <h2>Bus Number: <%=b.bid%></h2>
                    <p><%=b.name%></p>
                    <form action="bus/<%=b.bid%>" method="get">
                        <button class="btn btn-xs btn-success">More Info</button>
                    </form> 
                </div>
            </div>
        <%}%>
    
<%- include("./partials/footer"); -%> 