<%- include("./partials/header"); -%>
<div>
    <h1>Welcome to Dashboard</h1>
    <h2>User Details</h2>
    <%=FIRST_NAME : detail.first_name %>
    <%=LAST_NAME : detail.last_name %>
    <%=EMAIL : detail.email %>
</div>
        
        <div class="container">
            <div class="row mb-5">
                <% results.forEach(function(ticket) { %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card indexCards shadow border-0 mt-4">
                        <img id="campgroundCard" class="card-img-top"
                            src="https://lh3.googleusercontent.com/proxy/DGUVyl5jOpVG08qB1c7INN8vYVZO7EOozhZYPQySTNHtmX2n_ffxrBREgC4vv5UOeqcTqlBSrvkbB1WzOHHCtT1SNa98tVREuziOtkOf6s75i-GYg-Nd_EO3i0pIBtUuht9BLiRgIMZI0D_yI8w">
                        <div class="card-body text-center">
                            <h5 class="card-title text-capitalize">
                                <h2>Ticket Number: <%=ticket.tid%></h2>
                            </h5>
                            <h6 class="card-subtitle">
                                <p> Fare: <%=ticket.fare%></p>
                            </h6>
                            <form action="#" method="GET">
                                <button class="btn btn-xs btn-success">More Info</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>

        <p><a href="/logout">Logout</a></p>
        <p><a href="/">Home</a></p>
<%- include("./partials/footer"); -%>