<%- include("./partials/header"); -%>
        <header class="jumbotron text-light rounded-0 d-none d-md-block">
            <div class="container">
                <div class="jumbotron-text mt-5 text-center">
                    <h1 class="display-3 jumbotronText"><i class="fas fa-user-circle"></i>  Welcome <%= result2[0].first_name %> <%= result2[0].last_name %></h1>
                </div>
            </div>
        </header>
        <div class="container">
            <div>
                <h3 class="mt-4">Your previously booked tickets are:</h3>
            </div>
            <div class="row mb-5">
                <% results.forEach(function(ticket) { %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="card indexCards shadow border-0 mt-4">
                        <img id="campgroundCard" class="card-img-top"
                            src="https://lh3.googleusercontent.com/proxy/DGUVyl5jOpVG08qB1c7INN8vYVZO7EOozhZYPQySTNHtmX2n_ffxrBREgC4vv5UOeqcTqlBSrvkbB1WzOHHCtT1SNa98tVREuziOtkOf6s75i-GYg-Nd_EO3i0pIBtUuht9BLiRgIMZI0D_yI8w">
                        <div class="card-body text-center">
                            <h5 class="card-title text-capitalize">
                                <h2>Ticket Number: <%=ticket.tid%></h2>
                            </h5>
                            <h6 class="card-subtitle">
                                <p> Fare: <%=ticket.fare%></p>
                            </h6>
                            <form action="/bus/dashboard/<%=ticket.tid%>" method="GET">
                                <button class="btn btn-xs btn-success">More Info</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

        
<%- include("./partials/footer"); -%>