<%- include("./partials/header"); -%>
    <div class="bg-light form-div">
        <h2 class="text-center">ENTER THE DETAILS</h2>
        <p class="text-center">Bus Number : <%= results1[0].bid %></p>
        <p class="text-center"><%= results2[0].src %> -> <%= results2[0].dest %></p>
        <form action="/bus/<%= results1[0].bid %>" method="post">
            <input type="text" placeholder="Name" name="name" required>
            <br>
            <input type="number" placeholder="Age" name="age" min="0" max="125" required>
            <br>
            <input type="text" placeholder="Gender(M/F)" name="gender" maxlength="1" required>
            <br>
            <button class="btn btn-danger mt-2">Click to Book!</button>
        </form>
        <a href="/bus/<%= results1[0].bid %>"></a>Go Back!</a>
    </div>


<%- include("./partials/footer"); -%>