<%- include("./partials/header"); -%>

    <h1 class="text-center m-4">More Infomation About Bus Number <%= results[0].bid %></h1>
    <div class="row">
        <div class="col-12 border text-center border-primary">
            <p>Bus Id :<%=results[0].bid%></p>
            <p>Bus Name :<%=results[0].name%></p>
            <p>Number of Seats :<%=results[0].seats%></p>
            <p>Bus Number :<%=results[0].number%></p>
            <form action="/bus/<%= results[0].bid %>/new" method="GET">
                <button class="btn btn-xs btn-danger">Click To Book</button>
            </form>
        </div>
    </div>

<%- include("./partials/footer"); -%>