<%- include("./partials/header"); -%>
<h1 class="text-center mt-2 my-2">THANKS FOR BOOKING TICKET</h1>
  <div class="ticket">
      <br>
      <br>
      <br>
    <div class="container mr-5 first">
        <div class="row">
            <div class="col-4 pl-0">
                <h3>Name : <%= result2.name%></h3>
            </div>
            <div class="col-8 pl-0">
                <h3>Ticket Id : <%= results.tid %></h3>
            </div> 
        </div>
    </div>
     
    <div class="container mr-5">
        <div class="row">
            <h3>Age : <%=result2.age%></h3>
        </div>
        <div class="row">
            <h3>Gender : <%=result2.gender%></h3>
        </div>
        <br>
         <div class="row">
                <h3><u>Bus Details :</u> </h3>
        </div>
    </div>
   
      <div class="container mr-5">
        <div class="row">
            <div class="col-4 pl-0">
                <h3>Bus Number : <%= result1[0].bid %></h3>
            </div>
            <div class="col-8 pl-0">
                <h3>Bus : <%= result1[0].number %></h3>
            </div>
        </div>
     </div>   
      
    <div class="container mr-5">
        <div class="row">
            <div class="col-4 pl-0">
                <h3>Bus Name : <%= result1[0].name %></h3>
            </div>
            <div class="col-8 pl-0">
                <h3>Arrival Time : <%= result1[0].arr_time %></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 pl-0" >
                <h3>Bus Route : <%= result1[0].rid %></h3>
            </div>
            <div class="col-8 pl-0" >
                <h3>Depature Time : <%= result1[0].dept_time %></h3>
            </div>
             
        </div>
    </div>
   
  </div>
    

<%- include("./partials/footer"); -%>